

::placeholder {
    font-size: 1rem;
}

.submit1 {
    padding: 0.9rem 1.5rem;
    margin-top: 1rem;
    font-size: 1rem;
    border: none;
    background-color: #080       ;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .Open {
        width: 95%;
        padding: 1rem;
    }

    .Javi {
        height: auto;
        max-height: 150px;
    }

    fieldset {
        width: 100%;
    }

    .Num1,
    .password {
        padding: 0.3rem;
    }
}
