.calification_opcion{
    border: #333 solid 3px;
    width: 30vw;
    height: 60vh;
    text-align: center;
    margin: 10vw auto;
    border-radius:30px;
        font-family: Arial, sans-serif;
            background: transparent;
    box-shadow: 0.2rem 0.2rem 0.2rem 0.2rem #11111169;
    min-width: 20vmin;

}
body{
    margin: 0;
    text-align: center;
}
.title{
    font-size: 2em;
    margin: 1em auto;
}

select,.to-go-calification_plataform {
    border-radius: 10px;
    border: 1px solid #111;
    margin-bottom: 1%;      
    padding: 0.5rem;
    width: 100%;
    max-width: 300px;
    box-sizing: border-box;
    font-size: 1.4rem;
    margin: 0;
background: transparent;

}
.to-go-calification_plataform{
    width: 25vw;
    height: 6vh;
    font-size: 1.3em;
    background:  linear-gradient(to top, #203256,#553343);
    color: #fff;
    margin: 2.5em auto;
    box-sizing: border-box;
}
option{
    background: #3B334D;
    color: #111;
    font-size: 1em;
}
html{
    background:  linear-gradient(to left top, #553343, #203256);
    height: 100%;
    width: 100%;
}

label{
    font-size: 1.4em;
}